/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: Bermirs;
  font-style: normal;
  src: url("/fonts/Bermirs.ttf") format("truetype");
}

@font-face {
  font-family: LatoMed;
  font-style: normal;
  src: url("/fonts/Lato-Medium.ttf") format("truetype");
}
@font-face {
  font-family: LatoReg;
  font-style: normal;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollAnimation 10s linear infinite;
}

.font-bermirs {
  font-family: "Bermirs", sans-serif;
  letter-spacing: -1px;
}
.font-bermirsTitle {
  font-family: "Bermirs", sans-serif;
  font-size: 2rem;
}

.font-latoGoogle {
  font-family: "Lato", LatoReg;
}

.font-latoTitle {
  font-family: "Lato", LatoReg;
  font-size: 3.4rem;
}

.font-lato {
  font-family: "Lato", LatoReg;
}
.font-latoHeadings {
  font-family: "Lato", LatoReg;
  font-size: 32px;
}

.font-latoSubTitle {
  font-family: "Lato", LatoReg;
  font-size: 1.1rem;
}

.font-latoLandingGoogle {
  font-family: "Lato", LatoReg;
  font-size: 3rem;
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #000000;
  --transition: background-color 0.3s ease, border-color 0.3s ease;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid #000000;
}

ion-checkbox::part(label) {
  padding-bottom: 4px;
  opacity: 0.8;
}

.custom-alert .alert-wrapper {
  gap: 8px;
}

.custom-alert .alert-message {
  font-size: 1rem;
  opacity: 0.8;
}

ion-loading.custom-loading {
  --spinner-color: #1c1d20;
  font-weight: 400;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
