/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import "tailwindcss";

@font-face {
  font-family: Bermirs;
  font-style: normal;
  src: url("/fonts/Bermirs.ttf") format("truetype");
}
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: RobotoBold;
  font-style: normal;
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: RobotoMed;
  font-style: normal;
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: LatoMed;
  font-style: normal;
  src: url("/fonts/Lato-Medium.ttf") format("truetype");
}
@font-face {
  font-family: LatoReg;
  font-style: normal;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollAnimation 14s linear infinite;
}

.font-bermirs {
  font-family: "Bermirs", sans-serif;
  letter-spacing: -1px;
}
.font-bermirsTitle {
  font-family: "Bermirs", sans-serif;
  font-size: 2rem;
}

.font-robotoTitle {
  font-family: "RobotoLight", sans-serif;
  font-size: 2.3rem;
  letter-spacing: -2px;
}
.font-roboto {
  font-family: "RobotoLight", sans-serif;
}
.font-robotoBold {
  font-family: "RobotoBold", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -2px;
}
.font-robotoMed {
  font-family: "RobotoMed", sans-serif;
}

.font-lato {
  font-family: "LatoReg", sans-serif;
}

.font-latoTitle {
  font-family: "LatoMed", sans-serif;
  font-size: 2.2rem;
}
.font-latoReg {
  font-family: "LatoReg", sans-serif;
  font-size: 2.6rem;
}
