/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: Bermirs;
  font-style: normal;
  src: url("/fonts/Bermirs.ttf") format("truetype");
}

@font-face {
  font-family: LatoMed;
  font-style: normal;
  src: url("/fonts/Lato-Medium.ttf") format("truetype");
}
@font-face {
  font-family: LatoReg;
  font-style: normal;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}

@keyframes scrollAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollAnimation 10s linear infinite;
}

.font-bermirs {
  font-family: "Bermirs", sans-serif;
  letter-spacing: -1px;
}
.font-bermirsTitle {
  font-family: "Bermirs", sans-serif;
  font-size: 2rem;
}

.font-latoGoogle {
  font-family: "Lato", LatoReg;
}

.font-latoTitle {
  font-family: "Lato", LatoReg;
  font-size: 2.3rem;
}

.font-lato {
  font-family: "Lato", LatoReg;
}
.font-latoHeadings {
  font-family: "Lato", LatoReg;
  font-size: 32px;
}

.font-latoSubTitle {
  font-family: "Lato", LatoReg;
  font-size: 1.1rem;
}
